* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-color: #eee;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: #333;
    color: #eee;
}

header {
    width: 65%;
    margin: 28px auto;
    color: #eee;
    font-weight: 300;
}

#frame {
    background: hsl(160, 80%, 80%);
    color: hsl(29, 57%, 53%);
    width: 740px;
    height: 772px;
    font-family: 'Cedarville cursive', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-radius: 2%;
    box-shadow: -1px -4px 2rem rgba(240, 240, 240, 0.2);
}

#grid {
    background-color: linen;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1%;
    margin: 2px auto;
    box-shadow: inset 1px 1px 0.5rem #333;
}

#controller {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, serif;
    padding: 8px 24px 12px;
    flex: 1;
}

#frame h3 {
    font-family: 'Cedarville Cursive', 'Verdana', 'Geneva', 'Arial', sans-serif;
    font-weight: 400px;
    margin-top: -5%;
}

#inputs-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

#inputs {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color:hsl(29, 57%, 53%);
    box-shadow: inset 0 0 .3rem #222;
    padding: 4px;
    border-radius: 10%
}

label {
    font-size: 18px;
    color: black;
    font-weight: 200;
}

input {
    border: 1px solid silver;
    box-shadow: inset 0 0 0.5rem silver;
    border-radius: 12%;
    font-family: monospace;
    height: 22px;
    width: 60px;
    background: hsl(29, 57%, 53%);
    font-weight: 300;
    padding: 2px 6px;
    color: white;
}

button#erase, button#set {
    height: 3.5rem;
    width: 3.5rem;
    border: 2px solid hsl(29, 57%, 53%);
    border-radius: 50%;
    box-shadow: 1px 2px 0.3rem gray;
    color: hsl(29, 57%, 53%);
    font-weight: 300;
}

button#erase:hover, button#set:hover {
    cursor: pointer;
    -webkit-transform: translateX(1px) translateY(2px);
    transform: translateX(1px) translateY(2px);
    box-shadow: 0 0 0.2rem gray;
}

@media (max-width: 1069px) {
    #frame {
        width: 600px;
        height: 670px;
    }

    #grid {
        width: 500px;
        height: 500px; 
    }

    button#erase, button#set {
        height: 3.25rem;
        width: 3.25rem;
    }
}

@media (max-width: 729px) {
    #frame {
        width: 400px;
        height: 448px;
        font-size: 0.7rem;
    }

    #grid {
        width: 300px;
        height: 300px; 
    }

    button#erase, button#set {
        height: 2.9rem;
        width: 2.9rem;
    }
}