* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --shade-cherrywood: hsl(26, 34%, 52%);
}

body {
    background: radial-gradient(circle at -22% top, hsl(55, 70%, 80%), #444 18%, #333 50%);
    font-family: Helvetica, 'Geneva', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #eff;
}

header {
    width: 62%;
    margin: 32px auto;
    color: #eee;
}

#frame {
    background: linear-gradient(115deg, hsl(160, 80%, 88%), hsl(160, 80%, 80%) 25%, hsl(160, 80%, 80%) 94%, hsl(160, 40%, 45%));
    color: hsl(29, 65%, 63%);
    text-shadow: 1px 0px 0.1rem #111, 
                 2px 2px 0.2rem silver;
    width: 740px;
    height: 772px;
    font-family: 'Cedarville cursive', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 12px auto;
    padding: 3px;
    border-radius: 2%;
    box-shadow: 12px 8px 3rem #111;
}

#grid {
    background-color: linen;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1%;
    margin: 2px auto;
    box-shadow: inset 1px 1px 0.5rem #333;
}

.square {
    background-color: transparent;
}

#controller {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, serif;
    padding: 8px 24px 12px;
    flex: 1;
}

#frame h3 {
    font-family: 'Cedarville Cursive', 'Verdana', 'Geneva', 'Arial', sans-serif;
    font-weight: 400px;
    margin-top: -5%;
}

#inputs-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

#inputs {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color:hsl(29, 65%, 63%);
    box-shadow: inset 0 0 0.4rem gray;
    padding: 4px;
    border-radius: 10%
}

label {
    font-size: 18px;
    color: #111;
    text-shadow: none;
    font-weight: 200;
}

input {
    border: 1px solid silver;
    box-shadow: inset 0 0 0.8rem rgba(192, 192, 192, 0.4);
    border-radius: 12%;
    font-family: monospace;
    height: 22px;
    width: 60px;
    background: hsl(29, 65%, 63%);
    font-weight: 300;
    padding: 2px 6px;
    color: white;
}

a {
    text-decoration: none;
    color: hsl(29, 65%, 63%);
}

button#erase, button#set {
    height: 3.5rem;
    width: 3.5rem;
    border: 2px solid hsl(29, 65%, 63%);
    border-radius: 50%;
    box-shadow: 1px 2px 0.3rem gray;
    color: hsl(29, 65%, 63%);
    font-size: 0.9rem;
    font-weight: 400;
}

button#erase:hover, button#set:hover {
    cursor: pointer;
    -webkit-transform: translateX(1px) translateY(2px);
    transform: translateX(1px) translateY(2px);
    box-shadow: 0 0 0.2rem gray;
}

@media (max-width: 789px) {
    #frame {
        width: 600px;
        height: 670px;
    }

    #grid {
        width: 500px;
        height: 500px; 
    }

    button#erase, button#set {
        height: 3.25rem;
        width: 3.25rem;
    }
}

@media (max-width: 689px) {
    #frame {
        width: 400px;
        height: 448px;
        font-size: 0.7rem;
    }

    #grid {
        width: 300px;
        height: 300px; 
    }

    button#erase, button#set {
        height: 2.9rem;
        width: 2.9rem;
    }
}